body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
  
    /*Setting the background image of the main page:
    Would recommend changing the images as you see fit */
    /*Original Image Background
    background: url(images/MercedRoboticsPage.jpg);
    background-size: cover;
    background-repeat: no-repeat;*/
    background-color: #ddd;
}

#main{
  transition:margin-left 0.5s;
  padding:20px;
  overflow:hidden;
  width:100%;
}

@media(max-width:568px){
  .navbar-nav{display:none}
}

@media(min-width:568px){
  /*.open-slide{display:none}*/

.backbutton {
  position: relative;
  left: -5px;
  top: -20px;
  color: #777;
  box-sizing: border-box;
  border: solid;
  text-align: center;
  display: inline-block;
  /*padding-top: 0px;
  padding-bottom: 0px;*/
  padding: 10px 20px;
  font-size: 16px;
}

.sign-in{
    font-size: 35px;
}

.form 
{
    position: absolute;
    top: 50%;
    Left: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
    min-height: 400px;
    background: #fff;
    box-shadow: 5px 10px 20px rgba(0,0,0,.5);
    padding: 50px;
    border-radius: 10px;
    box-sizing: border-box;

}
.form h2 
{
    color: #777;
    margin: 0 0 40px;
    padding: 0;
}
.form .input-box
{
    position: relative;
    margin: 20px 0;
}
.form .input-box input
{
    width: 100%;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #777;
    outline: none;
    padding: 10px;
    padding-left: 25px;
    box-sizing: border-box;
    /*font-weight: bold;*/
    color: #777;
}

.form .input-box input:focus,
.form .input-box input:valid
{
    border-bottom: 2px solid #03a9f4;
}
.form .input-box .fa
{
    position: absolute;
    top: 8px;
    left: 0;
    font-size: 18px;
    color: #777;
}

.form .input-box input[type= "submit"]
{
    border: none;
    cursor: pointer;
    background: #03a9f4;
    color: #fff;
    font-weight: bold;
    transition: 0.5s;
}

.form .input-box input[type= "submit"]:hover
{
    background: #ff4987; 
}

.form a
{
    text-decoration: none;
    color: #777;
    font-size: 14px;
    margin-top: 10px;
    font-weight: bold;
    display: inline-block;
    transition: 0.5s;
}


.form a:hover
{
    color: #ff4987;
}