.orderHistory {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #19D9FF;
}

.display-1 {
  padding: 10px 0 10px 0;
}

.currentOrders {
  font-family: 'Roboto', sans-serif;
  color: #19D9FF;
}

#orderNumber {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  display: inline-block;
}

#number {
  font-family: 'Roboto', sans-serif;
  padding-bottom: 20px;
}

#statusDetails {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  float: left;
  padding-right: 10px;
}

#status {
  font-family: 'Roboto', sans-serif;
  padding-bottom: 20px;
}

table {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
}

#item {
  text-align: left;
  padding-left: 20px;
}

th {
  padding-top: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #dddddd;
}

td {
  padding: 20px;
  border-bottom: 1px solid #dddddd;
}

#quantityItemOne, #quantityItemTwo {
  text-align: center;
}

#priceItemOne, #priceItemTwo {
  text-align: center;
}

#changeOrder {
  font-size: 16px;
  font-weight:normal;
  border: none;
  border-radius: 8px;
  background-color: #19D9FF;
  padding: 10px 24px;
  margin-right: 20px;
  float: left;
}

#receipt {
  font-size: 16px;
  font-weight: normal;
  border: none;
  border-radius: 8px;
  background-color: #19D9FF;
  padding: 10px 24px

}

.previousOrders {
  font-family: 'Roboto', sans-serif;
  color: #19D9FF;
}

#dateOrdered, #itemPrevious {
  text-align: left;
  padding-left: 20px;
}

#quantityPrevious, #pricePrevious, #orderNumberPrevious {
  text-align: center;
}



#sort {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.navbar{
  background-color:#3b5998;
  overflow:hidden;
  height:63px;
  margin-bottom: 0px;
}

.navbar a{
  float:left;
  display:inline-block;
  color:#ddd;
  text-align:center;
  padding: 10px 20px 10px 20px; 
  text-decoration:none;
  font-size:17px;
}

.navbar ul{
  /* margin:8px 0 0 0; */
  list-style:none;
}

.navbar a:hover{
  height: 63px;
  background-color:#ddd;
  color:#000;
}

.side-nav{
  height:100%;
  width:0;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  background-color:#111;
  opacity:0.9;
  overflow-x:hidden;
  padding-top:60px;
  transition:0.5s;
}

.side-nav a{
  padding:10px 10px 10px 30px;
  text-decoration:none;
  font-size:22px;
  color:#ccc;
  display:block;
  transition:0.3s;
}

.side-nav a:hover{
  color:#fff;
}

.side-nav .btn-close{
  position: absolute;
  top:0;
  right:22px;
  font-size:36px;
  margin-left:50px;
}

#main{
  transition:margin-left 0.5s;
  padding:20px;
  overflow:hidden;
  width:100%;
}

@media(max-width:568px){
  .navbar-nav{display:none}
}

@media(min-width:568px){
  /*.open-slide{display:none}*/
}